<form [formGroup]="formGroup">
  <h2>Account Details</h2>
  <mat-form-field id="username">
    <input matInput
           formControlName="username"
           placeholder="Username" />
  </mat-form-field>
  <mat-form-field id="email-address">
    <input matInput
           formControlName="emailAddress"
           placeholder="Email Address" />
  </mat-form-field>
</form>
<ng-template ngFor [ngForOf]="messages" let-message>
  <div class="mat-error">{{message}}</div>
</ng-template>
<button mat-flat-button [routerLink]="['/change-password']" *ngIf="formGroup.disabled">Change Password</button>
<button mat-flat-button (click)="onEditClick()" *ngIf="formGroup.disabled">Edit</button>
<button mat-flat-button (click)="onSaveClick()" *ngIf="formGroup.enabled">Save</button>
<button mat-flat-button (click)="onCancelClick()" *ngIf="formGroup.enabled">Cancel</button>
<button mat-flat-button (click)="onResendConfirmationEmailClick()" *ngIf="!emailVerified && formGroup.disabled">Resend Confirmation Email</button>
