@use '@angular/material' as mat;
@import "src/theme.scss";

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  #active-games-span, #saved-games-span

{
  margin-top: 25px;
}

table {
  width: 100%;
  & .right-most-column

{
  text-align: right;
}

& [mat-cell] {
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
}

& .highlight {
  background-color: lightgray;
}

& [mat-row]:hover {
  background-color: mat.get-color-from-palette($primary, darker);
}

}

button {
  margin-top: 25px;
  width: 200px;
}
}
