#container {
  display: flex;
  flex-direction: column;

  & #input-div {
    display: flex;
    flex-direction: row;

    & input {
      width: 11rem; // An integer input really cannot take more than a minus symbol and 10 digits.
      background-color: transparent; // We do not want input boxes to have a white background.  Too much white.
      color: white; // We need the font color to be white, now that the background is transparent (black).
      border: 1px solid white; // We can hide the border.  It is also ugly.
      border-radius: 4px; // Give the border a rounded radius.  The focus already shows rounded and larger.  By default it is square and ugly.
    }
  }

  & span {
    color: red;
    font-size: 0.75rem;
  }
}
