################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.js
*.js.map
obj/
bin/
/AngbandOS.PersistentStorage.FileSystem/obj
/AngbandOS.PersistentStorage.FileSystem/bin
/AngbandOS.Interface/obj
/AngbandOS.Interface/bin
/AngbandOS.SqlPersistentStorage/obj
/AngbandOS.SqlPersistentStorage/bin
/.vs
.vs/AngbandOS/v17/.suo
.vs/AngbandOS/v17/fileList.bin
/Install/Output/cthangband.6.0.install.exe
/Install/Output/cthangband.6.2.install.exe
/Install/Output/cthangband.6.3.install.exe
/Install/Output/cthangband.6.4.install.exe
/Install/Output/cthangband.6.5.install.exe
/Install/Output/cthangband.6.6.install.exe
/Install/Output/cthangband.6.7.install.exe
/Install/Output/cthangband.6.8.install.exe
/Install/Payload
/Install/Output/cthangband.6.9.install.exe
/AngbandOS.Core/obj
/AngbandOS.Core/bin
/AngbandOS.Web/ClientApp/.angular/cache/13.3.4
/AngbandOS.Interface/obj/Debug/net6.0/AngbandOS.Interface.assets.cache
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.Sql.assets.cache
/AngbandOS.Core/bin/Debug/net6.0/AngbandOS.Core.dll
/AngbandOS.Core/bin/Debug/net6.0/AngbandOS.Core.pdb
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.Sql.csproj.AssemblyReference.cache
/AngbandOS.Core/bin/Release/net6.0/AngbandOS.Core.dll
/AngbandOS.Core/bin/Release/net6.0/AngbandOS.Core.pdb
/AngbandOS.Core/bin/Release/net6.0/AngbandOS.Interface.dll
/AngbandOS.Core/bin/Release/net6.0/AngbandOS.Interface.pdb
/AngbandOS.FileSystemPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.FileSystem.assets.cache
/AngbandOS.FileSystemPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.FileSystem.csproj.AssemblyReference.cache
/AngbandOS.FileSystemPersistentStorage/obj/Release/net6.0/AngbandOS.PersistentStorage.FileSystem.assets.cache
/AngbandOS.FileSystemPersistentStorage/obj/Release/net6.0/AngbandOS.PersistentStorage.FileSystem.GeneratedMSBuildEditorConfig.editorconfig
/AngbandOS.Interface/obj/Release/net6.0/ref/AngbandOS.Interface.dll
/AngbandOS.Interface/bin/Release/net6.0/AngbandOS.Interface.dll
/AngbandOS.SqlPersistentStorage/bin/Debug/net6.0/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/bin/Debug/net6.0/AngbandOS.PersistentStorage.Sql.pdb
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.Sql.csproj.CoreCompileInputs.cache
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.Sql.pdb
/AngbandOS.Interface/obj/project.assets.json
/AngbandOS.Interface/obj/project.nuget.cache
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/ref/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/refint/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/obj/AngbandOS.PersistentStorage.Sql.csproj.nuget.dgspec.json
/AngbandOS.SqlPersistentStorage/obj/project.assets.json
/AngbandOS.SqlPersistentStorage/obj/project.nuget.cache
/AngbandOS.SqlPersistentStorage/bin/Release/net6.0/AngbandOS.Interface.dll
/AngbandOS.SqlPersistentStorage/bin/Release/net6.0/AngbandOS.Interface.pdb
/AngbandOS.SqlPersistentStorage/bin/Release/net6.0/AngbandOS.PersistentStorage.Sql.deps.json
/AngbandOS.SqlPersistentStorage/bin/Release/net6.0/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/bin/Release/net6.0/AngbandOS.PersistentStorage.Sql.pdb
/AngbandOS.SqlPersistentStorage/obj/Release/net6.0/ref/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/obj/Release/net6.0/refint/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/obj/Release/net6.0/AngbandOS.PersistentStorage.Sql.csproj.AssemblyReference.cache
/AngbandOS.SqlPersistentStorage/obj/Release/net6.0/AngbandOS.PersistentStorage.Sql.csproj.CoreCompileInputs.cache
/AngbandOS.SqlPersistentStorage/obj/Release/net6.0/AngbandOS.PersistentStorage.Sql.csproj.FileListAbsolute.txt
/AngbandOS.SqlPersistentStorage/obj/Release/net6.0/AngbandOS.PersistentStorage.Sql.dll
/AngbandOS.SqlPersistentStorage/obj/Release/net6.0/AngbandOS.PersistentStorage.Sql.pdb
/AngbandOS.Core/bin/Release/net6.0/AngbandOS.Core.deps.json
/AngbandOS.SqlPersistentStorage/obj/Debug/net6.0/AngbandOS.PersistentStorage.Sql.GeneratedMSBuildEditorConfig.editorconfig
/AngbandOS.SqlPersistentStorage/obj/AngbandOS.PersistentStorage.Sql.csproj.nuget.g.props
/AngbandOS.Core/.idea
