<app-master-layout>
  <ng-container *ngIf="!isAuthenticated">
    <form [formGroup]="formGroup" (submit)="onLoginClick()">
      <div class="header-title">Login</div>
      <mat-form-field id="email-address">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="emailAddress" />
      </mat-form-field>
      <mat-form-field id="password">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-checkbox formControlName="rememberMe">Remember me!</mat-checkbox>
      <mat-checkbox formControlName="keepLoggedIn">Keep me logged in.</mat-checkbox>
      <input type="submit" value="Save" hidden>
      <span>{{message}}</span>
      <button mat-button mat-flat-button>Login</button>
      <a href="#" [routerLink]='["/accounts/forgot-password"]'>Forgot password!</a>
    </form>
  </ng-container>
  <ng-container *ngIf="isAuthenticated">
    <p>Login successful.</p>
    <p>Click <a [routerLink]="['/']">here</a> to return to the home screen.</p>
  </ng-container>
</app-master-layout>
