.hide {
  display: none;
}

form {
  display: flex; // Use flex to render the form-fields.
  flex-direction: column; // Arrange the form-fields straight down.

  & #email-address, & #password {
    width: 250px; // Set the width of the email address and password fields.
  }

  & span {
    color: red;
    margin-top: 10px;
  }

  & button {
    width: 70px;
  }

  & a {
    margin-top: 10px;
    font-weight: 100;
    color: white;
  }
}
