.tuple-table {
  & td {
    border: 1px solid white; // Tuple tables have borders around the table cells.
    padding: 0 10px 0 10px; // Tuple table cells need padding on the left and right sides.
  }

  & .tuple-table-header {
    font-weight: bold; // Tuple table headers will be bold.
  }
}


