<ng-container *ngIf="activePropertyMetadataAndConfiguration !== undefined">
  <!-- Foreign Key Array -->
  <div class="array-div" *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'foreign-keys'">
    <div class="array-item-div" *ngFor="let value of activePropertyMetadataAndConfiguration.configuration[activePropertyMetadataAndConfiguration.propertyMetadata.propertyName]; let valueIndex = index">
      <app-game-designer-type-foreign-key [activePropertyMetadataAndConfiguration]="createArrayChild(activePropertyMetadataAndConfiguration, valueIndex)" [collectionMap]="collectionMap"></app-game-designer-type-foreign-key>
      <mat-icon class="game-designer-delete-icon" (click)="deleteArrayIndex(valueIndex)">delete</mat-icon>
    </div>
    <mat-icon class="game-designer-add-icon" (click)="appendArrayItem()">add</mat-icon>
  </div>
  <!-- Foreign Key -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'foreign-key'">
    <app-game-designer-type-foreign-key [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration" [collectionMap]="collectionMap"></app-game-designer-type-foreign-key>
  </div>
  <!-- String Array -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'strings'">
    <app-game-designer-type-string-array [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-string-array>
  </div>
  <!-- String -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'string'">
    <app-game-designer-type-string [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-string>
  </div>
  <!-- Boolean -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'boolean'">
    <app-game-designer-type-boolean [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-boolean>
  </div>
  <!-- Tuple Array -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'tuple'">
    <app-game-designer-type-tuple-array [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-tuple-array>
  </div>
  <!-- Integer -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'integer'">
    <app-game-designer-type-integer [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-integer>
  </div>
  <!-- Character -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'character'">
    <app-game-designer-type-character [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-character>
  </div>
</ng-container>
