<ng-container *ngIf="activePropertyMetadataAndConfiguration !== undefined">
  <!-- String -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'string'">
    <app-game-designer-type-string [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-string>
  </div>
  <!-- String Array -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'string-array'">
    <app-game-designer-type-string-array [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-string-array>
  </div>
  <!-- Boolean -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'boolean'">
    <app-game-designer-type-boolean [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-boolean>
  </div>
  <!-- Tuple Array -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'tuple-array'">
    <app-game-designer-type-tuple-array [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-tuple-array>
  </div>
  <!-- Integer -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'integer'">
    <app-game-designer-type-integer [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-integer>
  </div>
  <!-- Character -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'character'">
    <app-game-designer-type-character [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-character>
  </div>
  <!-- Foreign Key -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'foreign-key'">
    <app-game-designer-type-foreign-key [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-type-foreign-key>
  </div>
</ng-container>
