<form [formGroup]="formGroup">
  <h2 id="title">Change Password</h2>
  <mat-form-field>
    <input matInput
           type="password"
           formControlName="currentPassword"
           placeholder="Current Password" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           formControlName="newPassword"
           placeholder="New Password" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           formControlName="confirmPassword"
           placeholder="Confirm Password" />
  </mat-form-field>
  <ng-container *ngIf="formGroup.errors?.confirmPasswordMismatch">
    <div class="mat-error">
      Passwords do not match.
    </div>
  </ng-container>
</form>
<ng-template ngFor [ngForOf]="messages" let-message>
  <div class="mat-error">{{message}}</div>
</ng-template>
<button mat-flat-button (click)="onChangePasswordClick()">Change Password</button>
<button mat-flat-button [routerLink]="['/accounts/profile']">Cancel</button>
