<span (click)="onChangePasswordClick()">Change Password</span>
<span [routerLink]="['/profile']">Cancel</span>
<form [formGroup]="formGroup">
  <div id="title">
    Change Password
  </div>
  <mat-form-field>
    <input matInput
            type="password"
            formControlName="currentPassword"
            placeholder="Current Password" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
            type="password"
            formControlName="newPassword"
            placeholder="New Password" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm Password" />
  </mat-form-field>
  <ng-container *ngIf="formGroup.errors?.confirmPasswordMismatch">
    <div>
      Passwords do not match.
    </div>
  </ng-container>
</form>
<ng-template ngFor [ngForOf]="messages" let-message>
  <div>{{message}}</div>
</ng-template>
