<app-master-layout>
  <ng-container *ngIf="!isAuthenticated">
    <form [formGroup]="formGroup" (submit)="onRegisterClick()">
      <div class="header-title">Create an Account</div>
      <mat-form-field id="username">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field id="email-address">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="emailAddress" />
      </mat-form-field>
      <mat-form-field id="password">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-form-field id="confirm-password">
        <mat-label>Confirm</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
      <mat-error *ngIf="formGroup.invalid && formGroup.confirmPassword.touched">{{formGroup.confirmError}}</mat-error>
      <ng-template ngFor [ngForOf]="messages" let-message>
        <div>{{message}}</div>
      </ng-template>
      <button mat-button mat-flat-button>Register</button>
    </form>
  </ng-container>
  <ng-container *ngIf="isAuthenticated">
    <p>You are registered.</p>
    <p>Click <a [routerLink]="['/']">here</a> to return to the home screen.</p>
  </ng-container>
</app-master-layout>
