form {
  display: flex; // Use flex to render the form-fields.
  flex-direction: column; // Arrange the form-fields straight down.

  & mat-form-field {
    width: 450px;
  }
}

button {
  width: 100px;
}
