<ng-container *ngIf="!isAuthenticated">
  <form [formGroup]="formGroup">
    <mat-form-field id="username">
      <input matInput
             formControlName="username"
             autocomplete="username"
             placeholder="Username" />
      <mat-error *ngIf="formGroup.username.invalid">{{formGroup.usernameError}}</mat-error>
    </mat-form-field>
    <mat-form-field id="email-address">
      <input matInput
             formControlName="emailAddress"
             autocomplete="email"
             placeholder="Email Address" />
      <mat-error *ngIf="formGroup.emailAddress.invalid">{{formGroup.emailError}}</mat-error>
    </mat-form-field>
    <mat-form-field id="password">
      <input matInput
             type="password"
             formControlName="password"
             autocomplete="new-password"
             placeholder="Password" />
      <mat-error *ngIf="formGroup.password.invalid">{{formGroup.passwordError}}</mat-error>
    </mat-form-field>
    <mat-form-field id="confirm-password">
      <input matInput
             type="password"
             formControlName="confirmPassword"
             autocomplete="new-password"
             placeholder="Confirm Password" />
    </mat-form-field>
    <div [ngClass]="{'greyed': formGroup.invalid}" *ngIf="!isAuthenticated" (click)="onRegisterClick()">
      Register
    </div>
    <mat-error *ngIf="formGroup.invalid && formGroup.confirmPassword.touched">{{formGroup.confirmError}}</mat-error>
    <ng-template ngFor [ngForOf]="messages" let-message>
      <div>{{message}}</div>
    </ng-template>
  </form>
</ng-container>
<ng-container *ngIf="isAuthenticated">
  <p>You are already registered.</p>
</ng-container>
