<ul class="navbar-nav">
  <li class="nav-item" *ngIf="isAuthenticated">
    <button mat-button [routerLink]='["/accounts/profile"]'>Hello {{username}}</button>
  </li>
  <li class="nav-item">
    <button mat-button [routerLink]='["/manual/table-of-contents"]'>Manual</button>
  </li>
  <li class="nav-item" *ngIf="isAuthenticated">
    <button mat-button [routerLink]='["/accounts/logout"]' [state]='{ local: true }'>Logout</button>
  </li>
  <li class="nav-item" *ngIf="!isAuthenticated">
    <button mat-button [routerLink]='["/accounts/register"]'>Register</button>
  </li>
  <li class="nav-item" *ngIf="!isAuthenticated">
    <button mat-button [routerLink]='["/accounts/login"]'>Login</button>
  </li>
</ul>

