<ul class="navbar-nav" *ngIf="isAuthenticated">
    <li class="nav-item">
        <a  class="nav-link text-dark" [routerLink]='["/accounts/profile"]' title="Manage">Hello {{ userName }}</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link text-dark" [routerLink]='["/account/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="(isAuthenticated) !== true">
  <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/accounts/register"]'>Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/accounts/login"]'>Login</a>
    </li>
</ul>
