<ng-container *ngIf="activePropertyMetadataAndConfiguration !== undefined">
  <select #select [ngModel]="getValue()" (change)="setValue()">
    <ng-container *ngIf="collections !== undefined">
      <ng-container *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.isNullable">
        <option value=""></option>
      </ng-container>
      <ng-container *ngFor="let option of collections.get(activePropertyMetadataAndConfiguration.propertyMetadata.foreignCollectionName!)">
        <option value="{{option}}">{{option}}</option>
      </ng-container>
    </ng-container>
  </select>
  <span id="modified-span" *ngIf="unmodifiedValue !== getValue()"><mat-icon class="game-designer-undo-icon" (click)="undo()">undo</mat-icon></span>
</ng-container>
