#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  & #component-window {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 25px 25px 25px;

    & #main-component {
      width: 100%;
    }

    & #vertical-panes {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      & #macros-div {
        display: flex;
        flex-direction: row;

        & button {
          flex-grow: 1;
          height: 2.5rem;
          margin-bottom: 5px;
          line-height: 1rem;
        }
      }
    }

    & #left-pane {
      width: 0px;
    }

    & #right-pane {
      width: 0px;
    }

    & #canvas-pane {
      width: 100%;
      height: 100%;
      display: flex;

      & canvas {
        background-color: black;
        width: 100%;
        height: 100%;
        object-fit: none;
        object-position: left top;
      }

      & #in-game-menu {
        position: absolute;

        & #in-game-menu-flex-box {
          display: flex;
          flex-direction: column;

          & button {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

  & #footer {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 8pt;
    color: white;
    border-top: 1px solid darkgray;
  }
}
