#vertical-panes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  align-self: flex-start;

  & #macros-div {
    display: none;
    flex-direction: row;

    & button {
      flex-grow: 1;
      height: 2.5rem;
      margin-bottom: 5px;
      line-height: 1rem;
    }
  }

  & #canvas-pane {
    width: 100%;
    height: 100%;
    display: flex;

    & canvas {
      background-color: black;
      width: 100%;
      height: 100%;
      object-fit: none;
      object-position: left top;
    }

    & #in-game-menu {
      position: absolute;

      & #in-game-menu-flex-box {
        display: flex;
        flex-direction: column;

        & button {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
