<ng-container *ngIf="activePropertyMetadataAndConfiguration !== undefined">
  <table id="tuple-table">
    <tr>
      <!-- Tuple table header -->
      <ng-container *ngFor="let tupleType of activePropertyMetadataAndConfiguration.propertyMetadata.tupleTypes">
        <th>
          <span class="tuple-table-header">{{tupleType.renderTitle}}</span>
        </th>
      </ng-container>
    </tr>
    <!-- Tuple table rows of configuration values -->
    <ng-container *ngFor="let tupleValues of activePropertyMetadataAndConfiguration.configuration">
      <tr>
        <ng-container *ngFor="let tupleTypePropertyMetadata of activePropertyMetadataAndConfiguration.propertyMetadata.tupleTypes; let tupleIndex = index">
          <td>
            <app-game-designer-type [activePropertyMetadataAndConfiguration]="createTupleChild(tupleTypePropertyMetadata, tupleIndex, tupleValues)"></app-game-designer-type>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</ng-container>
