#tuple-table {
  & thead tr {
    border-bottom: 1px solid white; // Tuple tables have borders around the table cells.
  }

  & .tuple-cell {
    padding: 5px 10px 0 0; // Tuple table cells need padding on the right sides for all except the last table cell.  Also, we need top padding to separate from the previous tr.
  }

  & .tuple-table-header {
    font-weight: bold; // Tuple table headers will be bold.
    font-size: 1.1rem;
  }
}
