.collection-property-metadata-title {
  font-weight: bold; // The title for collections will be larger and bold.
  font-size: 1.25rem; // The title for collections should be larger than other non-collection properties.
}

.property-metadata-title {
  font-weight: bold; // The title of properties will be the same size as normal text but bold.
}

.property-container-div {
  margin-top: 10px; // This is the amount of space before each of the properties that are shown in a collection.
  margin-bottom: 20px; // This is the amount of space after each of the properties that are shown in a collection.  We wanted some margin on the bottom so that the last property isn't flush to the bottom of the scroll; so the total margin was split between the top and bottom margins.
}

.type-container-div {
  margin-left: 20px; // Types shown in a collection should have some margin on the left to set them apart from the margin.
}
