<ng-container *ngIf="activePropertyMetadataAndConfiguration !== undefined">
  <!-- Collection -->
  <div *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.type === 'collection'; else nonCollectionProperty">
    <!-- Collection entity list, add and delete -->
    <ng-container *ngIf="activePropertyMetadataAndConfiguration.configurationIsArray; else showCollectionEntity">
      <span class="collection-property-metadata-title">{{activePropertyMetadataAndConfiguration.propertyMetadata.renderTitle}}</span><br />
      <ng-container *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.description !== null && activePropertyMetadataAndConfiguration.propertyMetadata.description !== ''">
        <span class="property-metadata-description">{{activePropertyMetadataAndConfiguration.propertyMetadata.description}}</span><br />
      </ng-container>
      <table>
        <tbody>
          <ng-container *ngFor="let entity of activePropertyMetadataAndConfiguration.configuration; let index=index">
            <tr>
              <td>
                {{getEntityName(entity)}}
              </td>
              <td>
                <mat-icon class="game-designer-delete-icon" (click)="deleteEntity(index)">delete</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="2">
              <mat-icon class="game-designer-add-icon" (click)="addEntity()">add</mat-icon>
            </td>
          </tr>
        </tfoot>
      </table>
    </ng-container>
    <!-- Single collection entity -->
    <ng-template #showCollectionEntity>
      <span class="collection-property-metadata-title">{{activePropertyMetadataAndConfiguration.propertyMetadata.entityTitle}} - {{activePropertyMetadataAndConfiguration.entityTitle}}</span><br />
      <div class="property-container-div" *ngFor="let childPropertyMetadata of activePropertyMetadataAndConfiguration.propertyMetadata.propertyMetadatas">
        <app-game-designer-property [activePropertyMetadataAndConfiguration]="createChild(activePropertyMetadataAndConfiguration, childPropertyMetadata)" [collections]="collections"></app-game-designer-property> <!-- Recursion -->
      </div>
    </ng-template>
  </div>
  <!-- An array of metadatas and configurations -->
  <ng-template #nonCollectionProperty>
    <span class="collection-property-metadata-title">{{activePropertyMetadataAndConfiguration.propertyMetadata.renderTitle}}</span><br />
    <ng-container *ngIf="activePropertyMetadataAndConfiguration.propertyMetadata.description !== null && activePropertyMetadataAndConfiguration.propertyMetadata.description !== ''">
      <span class="property-metadata-description">{{activePropertyMetadataAndConfiguration.propertyMetadata.description}}</span><br />
    </ng-container>
    <div class="type-container-div">
      <app-game-designer-type [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration" [collections]="collections"></app-game-designer-type>
    </div>
  </ng-template>
</ng-container>
