<ng-container *ngIf="activeMetadataAndConfiguration !== undefined">
  <!-- Collection -->
  <div *ngIf="activeMetadataAndConfiguration.propertyMetadata.type === 'collection'; else nonCollectionProperty">
    <ng-container *ngIf="activeMetadataAndConfiguration.configuration === null; else showCollectionEntity">
      <span class="collection-property-metadata-title">{{activeMetadataAndConfiguration.propertyMetadata.renderTitle}}</span><br />
      <span class="property-metadata-description">{{activeMetadataAndConfiguration.propertyMetadata.description}}</span><br />
    </ng-container>
    <ng-template #showCollectionEntity>
      <span class="collection-property-metadata-title">{{activeMetadataAndConfiguration.propertyMetadata.collectionEntityTitle}} - {{activeMetadataAndConfiguration.collectionEntityTitle}}</span><br />
      x{{activeMetadataAndConfiguration.propertyMetadata.collectionPropertiesMetadata == null}}
      <ng-container *ngFor="let childPropertyMetadata of activeMetadataAndConfiguration.propertyMetadata.collectionPropertiesMetadata">
        <hr />
        <app-game-designer-property [activeMetadataAndConfiguration]="activeMetadataAndConfiguration.createChild(childPropertyMetadata)"></app-game-designer-property> <!-- Recursion -->
      </ng-container>
    </ng-template>
  </div>
  <ng-template #nonCollectionProperty>
    <span class="collection-property-metadata-title">{{activeMetadataAndConfiguration.propertyMetadata.renderTitle}}</span><br />
    <span class="property-metadata-description">{{activeMetadataAndConfiguration.propertyMetadata.description}}</span><br />
    <app-game-designer-type [activeMetadataAndConfiguration]="activeMetadataAndConfiguration"></app-game-designer-type>
  </ng-template>
</ng-container>
