.collection-property-metadata-title {
  font-weight: bold; // The title for collections will be larger and bold.
  font-size: 1.25rem; // The title for collections should be larger than other non-collection properties.
}

.property-metadata-title {
  font-weight: bold; // The title of properties will be the same size as normal text but bold.
}
