<app-master-layout>
  <div id="horizontal-panes">
    <div id="settings-pane">
      <table>
        <tr>
          <td>
            Font Family
          </td>
          <td>
            <mat-select panelClass="small-select-panel" [(ngModel)]="fontName">
              @for (fontName of availableFontNames; track $index) {
                <mat-option value="{{fontName}}">{{fontName}}</mat-option>
              }
            </mat-select>
          </td>
        </tr>
        <tr>
          <td>
            Bold
          </td>
          <td>
            <input class="checkbox" type="checkbox" [(ngModel)]="bold">
          </td>
        </tr>
        <tr>
          <td>
            Viewport Width
          </td>
          <td>
            <input class="numeric-input" type="number" [(ngModel)]="viewportWidth">
          </td>
        </tr>
        <tr>
          <td>
            Viewport Height
          </td>
          <td>
            <input class="numeric-input" type="number" [(ngModel)]="viewportHeight">
          </td>
        </tr>
        <tr><td colspan="2"></td></tr>
        @for (color of availableColorNames; track $index; let i = $index) {
        <tr>
          <td>
            {{color}}
          </td>
          <td>
            <div class="color-picker" [cpPosition]="'right'" [cpPositionOffset]="'40'" (colorPickerChange)="setColor(i, $event)" [colorPicker]="getColor(i)" [style.background]="getColor(i)"></div>
          </td>
        </tr>
        }
      </table>
      <button (click)="refresh()">Refresh</button>
      <button (click)="reset()">Reset</button>
    </div>
    <div id="canvas-pane">
      <div #canvasContainer id="resizable-canvas-container">
        <canvas #console></canvas>
      </div>
    </div>
  </div>
</app-master-layout>
