<div id="container">
  <div id="horizontal-panes">
    <div id="left-pane">
      <div>
        <table>
          <tr>
            <td>
              Character Size
            </td>
            <td>
              <mat-slider [min]="1"
                          [max]="32"
                          [value]="charSize"
                          (input)="setCharSize($event.value)">
              </mat-slider>
              <label>{{charSize}}</label>
            </td>
          </tr>
          <tr>
            <td>
              Horizontal Spacing
            </td>
            <td>
              <mat-slider [min]="1"
                          [max]="32"
                          [value]="xSpacing"
                          (input)="setXSpacing($event.value)">
              </mat-slider>
              <label>{{xSpacing}}</label>
            </td>
          </tr>
          <tr>
            <td>
              Vertical Spacing
            </td>
            <td>
              <mat-slider [min]="1"
                          [max]="32"
                          [value]="ySpacing"
                          (input)="setYSpacing($event.value)">
              </mat-slider>
              <label>{{ySpacing}}</label>
            </td>
          </tr>
          <tr>
            <td>
              Window Width
            </td>
            <td>
              <mat-slider [min]="30"
                          [max]="200"
                          [value]="windowWidth"
                          (input)="setWindowWidth($event.value)">
              </mat-slider>
              <label>{{windowWidth}}</label>
            </td>
          </tr>
          <tr>
            <td>
              Window Height
            </td>
            <td>
              <mat-slider [min]="20"
                          [max]="100"
                          [value]="windowHeight"
                          (input)="setWindowHeight($event.value)">
              </mat-slider>
              <label>{{windowHeight}}</label>
            </td>
          </tr>
          <ng-container *ngFor="let color of colours; let i = index">
            <tr>
              <td>
                {{color}}
              </td>
              <td>
                <span class="color-picker" [cpPosition]="'right'" [cpPositionOffset]="'40'" (colorPickerChange)="setColor(i, $event)" [colorPicker]="getColor(i)" [style.background]="getColor(i)"></span>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
    <div #canvasContainer id="canvas-pane">
      <canvas #console></canvas>
    </div>
  </div>
</div>
