@use '@angular/material' as mat;
@use 'src/theme' as theme;

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    & #component-window {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding: 0 25px 25px 25px;

      & #main-component {
        width: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    & #component-window {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      & #main-component {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  & #component-window {
    #chat {
      max-width: 25%; // We do not want the width of the chat window to consume more than 25% of the screen.
    }
  }

  & #active-games-span, #saved-games-span {
    margin-top: 25px;
  }

  & table {
    width: 100%;

    & .right-most-column {
      text-align: right;
    }

    & th {
      padding-right: 10px;
    }

    & [mat-cell] {
      vertical-align: top;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    & .idle-time-span, .game-time-span {
      min-width: 100px;
    }

    & .highlight {
      background-color: lightgray;
    }

    & [mat-row]:hover {
      background-color: mat.m2-get-color-from-palette(theme.$primary, darker);
    }
  }

  button {
    margin-top: 25px;
    width: 200px;
  }
}
