@use '@angular/material' as mat;
@use 'src/theme' as theme;

#home-layout-container {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 1.25rem; // All header titles have the same font-size.
  flex-grow: 1;
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: end;

  & button {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}


.mat-column-actions {
  justify-content: right; // The icons should be right aligned.
}

mat-row:hover {
  background-color: mat.m2-get-color-from-palette(theme.$primary, darker); // When a row is hovered, we highlight it.
}

mat-table {
  width: 100%; // Applies to the active games and saved games

  & th {
    font-weight: 500;
  }

  & [mat-cell] {
    vertical-align: middle; // Vertically center align the cell content
    padding: 10px 16px; // Make the table rows larger with padding between columns.
  }

  & .time-span {
    white-space: nowrap; // Do not allow the time to be wrapped.
  }

}

mat-icon {
  display: flex; // The icon needs to be centered.  We need flex for this.
  align-items: center; // Center
  justify-content: center; // Center
}

mat-icon:hover {
  transform: scale(1.15);
}
