@use '@angular/material' as mat;
@use 'src/theme' as theme;

.my-header-row {
  height: 10px;
}

.mat-mdc-header-cell {
    height: 10px;
}
.mat-column-actions {
  justify-content: right; // The icons should be right aligned.
}

table {
  width: 100%; // Applies to the active games and saved games

  & th {
    font-weight: 500;
  }

  & [mat-cell] {
    vertical-align: middle; // Vertically center align the cell content
    padding: 10px 16px; // Make the table rows larger with padding between columns.
  }

  & .time-span {
    white-space: nowrap; // Do not allow the time to be wrapped.
  }

  & [mat-row]:hover {
    background-color: mat.m2-get-color-from-palette(theme.$primary, darker); // When a row is hovered, we highlight it.
  }
}

button {
  margin-top: 25px; // The Play New Game button needs some margin at the top.
  width: 200px; // Make the button fairly wide.
}
