#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & #title-bar {
    background-color: lightgray;
    display: flex; // Use flex to render the drag handle and the title.
    justify-content: space-between; // We use the extra empty span and this justification to get the title centered.
    align-items: center; // Vertically align the items to the center.
  }

  & #main {
    display: flex;
    align-items: center;
    flex-grow: 1; // This div needs to fill the remaining height.

    & form {
      width: 100%;

      & mat-form-field {
        width: 100%;
      }
    }
  }

  & #buttons-bar {
    display: flex; // Use flex to render the drag handle and the title.
    & span {
      flex-grow: 1; // We added this span to force the button to the right margin.
    }
  }
}
