<div id="container">
  <div id="title-bar" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <img class="icon" src="/assets/material-icons/zoom_out_map-24px.svg" cdkDragHandle />
    <span>
      Forgot Password
    </span>
    <span></span>
  </div>
  <div id="main">
    <form [formGroup]="formGroup">
      <mat-form-field id="email-address">
        <input matInput
               formControlName="emailAddress"
               placeholder="Email Address" />
      </mat-form-field>
      <span>
        {{message}}
      </span>
    </form>
  </div>
  <div id="buttons-bar">
    <span></span>
    <button mat-button (click)="onSendRecoveryLinkClick()">Send Recovery Link</button>
  </div>
</div>
