<ng-container *ngIf="errors.length === 0">
  <form [formGroup]="formGroup">
    <h1 id="title">Reset Password</h1>
    <mat-form-field>
      <input matInput
             type="password"
             formControlName="newPassword"
             placeholder="New Password" />
    </mat-form-field>
    <mat-form-field>
      <input matInput
             type="password"
             formControlName="confirmPassword"
             placeholder="Confirm Password" />
    </mat-form-field>
    <ng-container *ngIf="formGroup.errors?.confirmPasswordMismatch">
      <div>
        Passwords do not match.
      </div>
    </ng-container>
  </form>
  <ng-template ngFor [ngForOf]="messages" let-message>
    <div class="mat-error">{{message}}</div>
  </ng-template>
</ng-container>
<ng-template ngFor [ngForOf]="errors" let-error>
  <div class="mat-error">{{error}}</div>
</ng-template>
<button mat-flat-button (click)="onUpdatePasswordClick()">Update Password</button>
