form {
  display: flex; // Use flex to render the form-fields.
  flex-direction: column; // Arrange the form-fields straight down.

  & #title {
    font-size: 1.5rem;
    height: 2rem;
    padding: 0.5rem 0;
  }

  & mat-form-field {
    width: 250px;
  }
}
