<div id="container">
  <app-nav-menu></app-nav-menu>
  <h6>Game Configuration Designer</h6>
  <ng-container *ngIf="configuration !== undefined">
    {{isModified ? '--MODIFIED--' : "--unchanged--"}}
  </ng-container>
  <div id="component-window">
    <ng-container *ngIf="rootTreeNodes !== undefined">
      <div id="tree-panel">
        <table>
          <ng-container *ngFor="let treeNode of rootTreeNodes">
            <tr (click)="treeNodeClicked(treeNode)">
              <td (click)="treeNode.isOpen=!treeNode.isOpen">
                <ng-container *ngIf="treeNode.children != null">
                  <ng-container *ngIf="!treeNode.isOpen">
                    +
                  </ng-container>
                  <ng-container *ngIf="treeNode.isOpen">
                    -
                  </ng-container>
                </ng-container>
              </td>
              <td colspan="2">{{treeNode.title}}</td>
            </tr>
            <ng-container *ngIf="treeNode.children != null && treeNode.isOpen">
              <ng-container *ngFor="let childTreeNode of treeNode.children">
                <tr (click)="treeNodeClicked(childTreeNode)">
                  <td></td>
                  <td>-</td>
                  <td>{{childTreeNode.title}}</td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </table>
      </div>
      <div id="entity-panel">
        <ng-container *ngIf="activePropertyMetadataAndConfigurations !== null">
          <ng-container *ngFor="let activePropertyMetadataAndConfiguration of activePropertyMetadataAndConfigurations">
            <app-game-designer-property [activePropertyMetadataAndConfiguration]="activePropertyMetadataAndConfiguration"></app-game-designer-property>
          </ng-container>
          <!-- Debug -->
          <ng-container *ngIf="false && activePropertyMetadataAndConfigurations !== null"> <!-- Change the first true/false to enable and disable the debug mode -->
            <hr />
            <ng-container *ngFor="let activePropertyMetadataAndConfiguration of activePropertyMetadataAndConfigurations; let index = index">
              <h6>Property Metadata Debug #{{index}}</h6>
              <pre style="white-space: pre-wrap;">{{activePropertyMetadataAndConfiguration.propertyMetadata | json}}</pre>
            </ng-container>
            <br />
            <h6>Configuration Debug</h6>
            <pre style="white-space: pre-wrap;">{{activePropertyMetadataAndConfigurations[0].configuration | json}}</pre> <!-- We only want to show the configuration once.  It is the same for all properties. -->
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="rootTreeNodes === undefined">
      loading ...
    </ng-container>
  </div>
  <app-footer></app-footer>
</div>
