#container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & #component-window {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    & #tree-panel {
      overflow-y: scroll;
      min-width: 15%;

      & table {
        font-family: "Arial";
        font-size: 0.75rem;
        font-weight: normal;
      }
    }

    & #entity-panel {
      overflow-y: scroll; // The entity panel will need to scroll vertically.
      overflow-x: hidden; // We do not want the entity panel to scroll horizontally.  We will word-break for the horizontal direction.
      flex-grow: 1; // The entity panel needs to consume the remaining space horizontally with the tree panel.
    }
  }
}
