#container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    #tree-panel {
        overflow-y: scroll;
    }

    #entity-panel {
        flex-grow: 1;
    }
}
table {
  font-family: "Arial";
  font-size: 12px;
  font-weight: normal;
}
