using Cthangband.Enumerations;

namespace AngbandOS.Core;

[Serializable]
internal class \Name\WandFlavor : WandFlavor
{
    public override char Character => '\Character\';
    public override Colour Colour => Colour.\Colour\;
    public override string Name => "\Name\";
}