using AngbandOS.Core.Interface;

namespace AngbandOS.Core;

[Serializable]
internal class ~\_Name\Animation~ : BaseAnimation
{
    public override char Character => '\Character\';
    public override Colour Colour => Colour.\Colour\;
    public override string Name => "\Name\";
    public override Colour AlternateColour => Colour.\AlternateColour\;
    public override string Sequence => @"\Sequence\";
}