using AngbandOS.Core.Interface;

namespace AngbandOS.Core;

[Serializable]
internal class ~\_Name\RingFlavour~ : BaseRingFlavour
{
    public override char Character => '\Character\';
    public override Colour Colour => Colour.\Colour\;
    public override string Name => "\Name\";
}