@use '@angular/material' as mat;
@import '~@angular/material/theming';
@import "src/theme.scss";

@include mat.core();
@include mat.all-component-themes($theme);

html, body {
  width: 100%;
  height: 100%;
  font-size: 12px; // Define 1rem
}

body {
  margin: 0;
  font-family: "Arial";
}
