@use '@angular/material' as mat;
@use 'src/theme' as theme;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
//@include mat.all-component-typographies();
//@include mat.elevation-classes();
//@include mat.app-background();
@include mat.all-component-themes(theme.$theme);

html, body {
  width: 100%; // The UI uses the entire width.
  height: 100%; // The UI uses the entire height.
  font-size: 16px; // Define 1rem
  font-family: Roboto, Helvetica Neue, sans-serif; // This is the default font.
  margin: 0; // The browser defaults to a margin of 8.  We need to override it so that the screen doesn't render scroll-bars.
}

*, *::before, *::after {
  box-sizing: border-box; // We need to set border-box throughout the entire UI.
}


.game-designer-undo-icon {
  color: green; // The modified will be a green color.
  font-size: 1.5rem; // The modified icon should only be 1rem.  By default, it is much larger.
  vertical-align: middle; // The modified icon needs to be centered vertically with the text.
  border: 1px solid green; // Place a green border around the icon.
  border-radius: 4px; // Round the border.
  width: 1.75rem !important; // Set the width of the icon.
  height: 1.75rem !important; // Set the height of the icon.
  margin-left: 0.5rem; // Place a margin between the icon and the element it applies to.
  margin-bottom: 2px; // Apparently, mat-icons need 2px added to the bottom to allow it to vertically align middle.  This is apparent in a zoom.  2px seems to work in 100% and zoomed in.
}

.game-designer-error-message-span {
  color: red;
  font-size: 0.75rem;
}

.game-designer-delete-icon {
  font-size: 1.5rem; // The modified icon should only be 1rem.  By default, it is much larger.
  vertical-align: middle; // The modified icon needs to be centered vertically with the text.
  width: 1.75rem !important; // Set the width of the icon.
  height: 1.75rem !important; // Set the height of the icon.
  margin-left: 0.5rem; // Place a margin between the icon and the element it applies to.
}

.game-designer-add-icon {
  font-size: 1.5rem; // The modified icon should only be 1rem.  By default, it is much larger.
  vertical-align: middle; // The modified icon needs to be centered vertically with the text.
  width: 1.75rem !important; // Set the width of the icon.
  height: 1.75rem !important; // Set the height of the icon.
}

.window-left-right-margins {
    margin: 0 15px 0 15px;
}

.header-title {
  font-size: 1rem;
  padding-top: 25px; // Each section gets a bit of additional padding on top.
  padding-bottom: 5px;
  font-weight: 500; // Bold
}
