@use '@angular/material' as mat;

$primary: mat.m2-define-palette(mat.$m2-grey-palette, 500);
$accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);
$theme: mat.m2-define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));
