<mat-toolbar class="app-toolbar">
  <a class="brand" routerLink="/">
    <div id="logo" title="AngbandOS - Why OS?  What does the OS stand for?  The OS stands for 'Open System'.">
      ┏━━━┓━━━━━━━━┏┓━━━━━━━━━━━━━┏┓┏━━━┓┏━━━┓<br />
      ┃┏━┓┃━━━━━━━━┃┃━━━━━━━━━━━━━┃┃┃┏━┓┃┃┏━┓┃<br />
      ┃┃━┃┃┏━┓━┏━━┓┃┗━┓┏━━┓━┏━┓━┏━┛┃┃┃━┃┃┃┗━━┓<br />
      ┃┗━┛┃┃┏┓┓┃┏┓┃┃┏┓┃┗━┓┃━┃┏┓┓┃┏┓┃┃┃━┃┃┗━━┓┃<br />
      ┃┏━┓┃┃┃┃┃┃┗┛┃┃┗┛┃┃┗┛┗┓┃┃┃┃┃┗┛┃┃┗━┛┃┃┗━┛┃<br />
      ┗┛━┗┛┗┛┗┛┗━┓┃┗━━┛┗━━━┛┗┛┗┛┗━━┛┗━━━┛┗━━━┛<br />
      ━━━━━━━━━┏━┛┃━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
      ━━━━━━━━━┗━━┛━━━━━━━━━━━━━━━━━━━━━━━━━━━<br />
    </div>
  </a>
  <span class="spacer"></span>
  <app-login-menu></app-login-menu>
</mat-toolbar>
